PORT=7300
NATS_URL=nats://nats:4222
STORAGE_ENDPOINT=http://hybrid-storage-minio:9000
STORAGE_REGION=us-east-1
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin
STORAGE_TRANSCODED_BUCKET=transcoded
