PORT=7100
NATS_URL=nats://nats:4222
UPLOAD_MAX_SIZE_BYTES=52428800
UPLOAD_STORAGE_PATH=/tmp/uploads
UPLOAD_STORAGE_BUCKET=uploads
STORAGE_ENDPOINT=http://soundgarden-minio:9000
STORAGE_REGION=us-east-1
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin
