PORT=7201
NATS_URL=nats://nats:4222
NATS_QUEUE_GROUP=petrified-workers
REDIS_URL=redis://petrified-redis:6379
STORAGE_ENDPOINT=http://petrified-minio:9000
STORAGE_REGION=us-east-1
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin
