BFF_BASE_URL=http://pulse:3000

NEXT_PUBLIC_REASONING_IDLE_TIMEOUT_MS=3000
NEXT_PUBLIC_BACKSTAGE_SSE_URL=http://backstage:4001

BFF_API_TIMEOUT_MS=10000
SOUNDGARDEN_BASE_URL=http://soundgarden:7100
SLIM_SHADY_BASE_URL=http://slim-shady:7400
MOCKINGBIRD_BASE_URL=

NEXT_FONT_GOOGLE_DISABLE_DOWNLOAD=1
NEXT_DISABLE_TURBOPACK=1
