PORT=7000
MONGO_URI=mongodb://authority-mongo:27017
MONGO_DB_NAME=pulse-authority
JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d
GOOGLE_CLIENT_ID=
NATS_URL=nats://nats:4222
