PORT=7202
NATS_URL=nats://nats:4222
NATS_QUEUE_GROUP=fort-minor-workers
REDIS_URL=redis://fort-minor-redis:6379
STORAGE_ENDPOINT=http://fort-minor-minio:9000
STORAGE_REGION=us-east-1
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin
OPENAI_API_KEY=
AI_MODEL=whisper-1
